html{
 font-family: Arial;
}
.auth-fragment {
    width: 100%;
    background-color: steelblue;
    height:50px;
    padding: .7ch .5em;
}
.main-h1{
    font-size: xxx-large;
}
.main-h3{
    font-size: large;
    margin-top: 50px;
    margin-bottom:30px;
}
body {
    background-color: #4e4e4e;
    overflow-x:hidden;
    margin:0;
}
.auth-error{
    width: 100%;
    height: 1.5em;
    background-color: lightsteelblue;
    color:darkblue;
}
.container-background-text{
    position: relative;
    text-align: center;
}
.background-text{
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
}
section select {
    margin: 50px;
    color: darkred;
    background: lightsteelblue;
    width: 280px;
}

p a {
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin: 30px;
}

table {
    margin: 30px;
}

table, th, td {
    border: 1px dotted black;
    padding: 5px;
}

hr {
    border: 2px solid gray;
}

.pics {
    margin: 100px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

form input{
    width: 200px;
    background-color: whitesmoke;
    color: black;
}
/*section{*/
/*    margin-top:100px;*/
/*}*/
.hash{
    background-color: #4e4e4e;
    color: whitesmoke;
    text-align: center;
}
.auth-sing-up{
    background-color: indigo;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 3px 4px;
    text-decoration: none;
    transition: color .2s;
}
.auth-fragment-avatar{
    max-height: 50px;
    max-width: 50px;
    border: 1px dot-dash black;
    vertical-align: middle;
    border-radius: 15%;
}
.auth-sing-up:hover{
    color: black;
}
.successful{
    color:green;
    text-align: center;
}
.auth-profile-a{
    text-decoration: none;
    color: blueviolet;
}

.user-profile{
    color: white;
}
.menu{
    display: flex;
}
.user-profile-img{
    max-width: 110px;
    max-height: 110px;
    vertical-align: middle;
    horiz-align: center;
    border-radius: 15%;
    margin-bottom: 50px;
}
.user-section-left{
    text-align: left;
    width: 200px;
    margin-left: 30px;
    margin-bottom: 100px;
    margin-top: 30px;
    padding-top: 50px;
    background-color: steelblue;
    border-right: 3px solid #252525 ;
    height:750px;
    flex: 1;
}
.user-section-right{
    text-align: right;
    width: auto;
    margin-right: 30px;
    margin-bottom: 100px;
    margin-top: 30px;
    padding-top: 30px;
    background-color: steelblue;
    height:750px;
    flex: 3;
}
.inline{
    display: inline-block;
}
.margin-top{
    margin-top: 30px;
}
.user-section-left a{
    text-decoration: none;
    margin-top: 20px;
    background-color: #797979;
    color: white;
    width: 80px;
    height: 10px;
    padding: 10px 5px;
    border-radius: 5%;
    transition: 0.5s;
}
.user-section-left a:hover {
    background-color: darkorange;
    color: white;
}
.container-centre{
    text-align: center;
}
.input-user-block{
    padding: 20px;
}
.user-profile-button{
    float: left;
    margin:30px;
    width:90px;
    height:35px;
    padding: 5px 20px;
    border: none;
    border-radius: 5%;
    background-color: darkorange;
    color: white;
}
.profile-field span{
    padding: 10px;
}
.profile-field span[contenteditable]{
    padding: 3px;
    margin-left: 10px;
}
input[type="image"]{
    margin-top: 30px;
    width:70px;
    height:70px;
    background-color: darkgray;
}
.check-mail{
    background-color: darkgray;
    color: white;
    text-align: center;
    height:auto;
}
.email-icon{
    font-size: x-large;
    margin-left:20px;
    margin-right:20px;
}
.confirm{
    margin-top: 10px;
    color:darkgreen;
}
.confirm:before{
    content: '\1F44C';
    margin-left: 5px;
}
.not-confirm{
    color:darkred;
}
.not-confirm:before{
    content: '\1F44E';
    margin-left: 5px;
}
.js-link{
    font-size: medium;
    text-decoration: none;
    margin-top:20px
}
.submitEmailLink{
    border: 1px solid black;
    background-color: darkgray;
    text-decoration: none;
    color:black;
}
.imgBan{
    text-align: center;
    height: 750px;
}
.car-card-catalog{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}
.car-card-active{
    border: 1px solid black;
    width: 300px;
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}
.car-card-disable{
    filter: grayscale(50%);
    border: 1px solid black;
    width: 300px;
    background-color: steelblue;
    padding: 10px;
    text-align: center;
}
.car-card-disable a{
    pointer-events: none;
    background-color: #252525;
}

.car-card-img{
    padding-top: 10px;
    width: 280px;
}
.car-card-text{
    font-size: small;
    color: lightsteelblue;
}
.car-card-link{
    background-color: indigo;
    color:white;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    padding: 3px 4px;
    text-decoration: none;
    transition: color .2s;
}
.small{
    font-size: small;
    color: #4e4e4e;
}
.car-img {
    width: 100%;
    max-width: 550px;
    max-height: 350px;
    height: auto;
    padding: 20px;
}

.car-section-left{
    align-self: stretch;
    text-align: center;
    width: 200px;
    margin: 50px 80px 50px 100px;
    padding-top: 50px;
    background-color: steelblue;
    height:600px;
    flex: 1 1 auto;
}
.car-section-right{
    font-size: large;
    width: 300px;
    margin: 50px 100px 30px 0;
    padding-top: 30px;
    background-color: steelblue;
    height:600px;
    flex: 2 1 auto;
}
.car-card-button{
    background-color: indigo;
    color:white;
    width: 150px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 4px;
    transition: color .2s;
}
.car-card-button:hover{
    background-color: lightsteelblue;
    color:indigo;
    transition: color .2s;
}
.car-card-button:disabled{
    background-color: darkgray;
    color:lightsteelblue;
    width: 150px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 4px;
    transition: color .2s;
}
.car-card-button-delete{
    background-color: darkred;
    color:white;
    width: 150px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 4px;
    transition: color .2s;
}
.car-card-button-delete:hover{
    background-color: lightsteelblue;
    color:darkred;
    transition: color .2s;
}
.car-rent-block-profile{
    margin: 80px 20px 20px 20px;
    border: 1px solid black;
    padding:10px;
}
.footer {
    position: fixed;
    padding-top: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    height:50px;
    background-color: steelblue;
    color: white;
    text-align: center;
}
.footer-link
{
    color:lightsteelblue;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    padding: 3px 4px;
}
.footer-link:hover
{
    color:white;
    font-size: 20px;
    transition: color .2s;
}
.index-link
{
    margin-top:10px;
    font-size: 40px;
    color:deepskyblue;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    cursor: pointer;
    display: inline-block;
    padding: 3px 4px;
}
.index-link:hover{
    color:silver;
    font-size: 46px;
    transition: color .2s;
}

.container{
    margin-top:50px;
}

.profile-pwd-block{
    border: 2px solid cadetblue;
    margin: 10px;
}

@media screen and (max-width: 700px) {
    .main-h1{
        font-size: x-large;
    }
    .main-h3{
        font-size: medium;
        margin-top: 20px;
        margin-bottom:20px;
    }
    .index-link
    {
        margin-top:10px;
        font-size: 20px;
        color:deepskyblue;
        text-decoration: none;
        border-radius: 5px;
        border: 1px solid deepskyblue;
        cursor: pointer;
        display: inline-block;
        padding: 3px 4px;
    }
    .index-link:hover{
        color:silver;
        font-size: 26px;
        transition: color .2s;
    }
    .background-text{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color:white;
    }
}
